::ng-deep .mat-form-field {
  .mat-input-element {
      color: rgba(3, 3, 3, 0.685);
  }
  .mat-form-field-label {
      color: slategray;
  }
  .mat-form-field-underline {
      background-color: slategray;
  }
  .mat-form-field-ripple {
      background-color: slategray;
  }
  .mat-form-field-required-marker {
      color: slategray;
  }
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
 background-color: white;
}

.error {
  color: red
}
