<div class="sidebar">
  <mat-form-field class="example-full-width" appearance="fill" color="warm" floatLabel="never">
    <mat-label>Filter by tag</mat-label>
    <input matInput type="text" [(ngModel)]="search"/>
    <mat-icon matSuffix style="font-size: 1.0em">search</mat-icon>
  </mat-form-field>
  <div class="list">
    <div class="note" (click)="this.noteService.getContent(item.content, item.id, item.index, item.title)" *ngFor="let item of this.noteService.data | filter:search">
      {{item.title}}
    </div>
  </div>
</div>
