.text-input {
  color: #333;
  border: 0px;
  width: 99%;
  max-width: 99%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 40vw;
  resize: none;
}

.text-input::-webkit-scrollbar {
  display: none;
}

.tags {
  display: flex;
  min-height: 3.5vw
}

.tag {
  margin-left: 10px;
}

.bg-blue {
  background-color: lightblue;
}
.bg-pink {
  background-color: lightcoral;
}
.bg-blue-dark {
  background-color: #86c5da;
}
.bg-pink-dark {
  background-color: #eb5252;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0);
}
