.text-input {
  color: #333;
  border: 0px;
  width: 99%;
  max-width: 99%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  resize: none;
}

.text-input::-webkit-scrollbar {
  display: none; /* hide scrollbar in Chrome and variants */
}

.tags {
  display: flex;
  min-height: 3.5vw
}

.tag {
  margin-left: 10px;
}
